body {
    background-color: #ECDFC8;
    font-family: 'Roboto', sans-serif;   
    margin: 0%;  
}

/* nav */

nav {
    background-color: #C37857;
    padding: 1%;
    margin-bottom: 2%;
  
  }
  .offf {
  height: 20px;
  }
  
  .arrrow {
    height: 20px;
  
  }
  
  .navbar {
    position: relative;
    display: flex;
  }
  
  .navbar .navbar1 {
    padding-right: 5%;
    margin-top: 1%;
  
  }
  
  .navbar .navbar2 {
    padding-right: 70%;
    position: relative;
    display: flex;
  }
  .navbar2img {
    padding-right: 5%;
  
  }
  
  .navbar .navbar3 {
    margin-top: 1%;
  
  }
  
  .navbar .navbar2 h1 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    color: #FFD362;
  }
  
  
  /* nav */


   /** down **/
.down {
  position: relative;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.right {
  padding-left: 70%;
}
.left {
  padding-left: 2%;
}


a {
  text-decoration: none;
  color: #6C8851 ;
}

.main {
 width: 50%;
 margin: 0 auto;
}

.article {
  background-color: white;
  padding: 6%;
  margin-bottom: 10%;
}

h1 {
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
}
footer p {
  text-align: right;
  font-style: bold;
  margin-right: 3%;
  color: #C37857;
}